@import 'src/styles/constants.scss';

.Preferences {
  display: grid;
  grid-template-rows: $topNav-height 1fr;

  &__content {
    box-sizing: border-box;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }
}
