@import 'src/styles/constants.scss';

.ProviderCard {
  display: grid;
  grid-template-columns: 200px 0.7fr 1fr;
  grid-column-gap: 30px;
  background: white;

  &__middle {
    display: grid;
    grid-template-rows: auto auto 40px 40px 10px;
    grid-row-gap: 10px;
  }

  &__right {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 0 10px;
  }
  

  color: $eggshell;
  color: black;
  height: 200px;
  width: 80%;

  box-shadow: 0 1px 2px 0 rgba(168, 182, 191, 0.6);
  transition: all 0.25s ease-out;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  font-weight: 300;

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(168, 182, 191, 0.6);
    transform: translateY(-1px);
    z-index: 0;
    margin-right: -10px;
  }

  &__name {
    text-align: left;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 800;
    overflow: hidden;
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
    align-self: center;
  }

  &__x {
    background-color: #eee;
  }

  &__actions {
    display: flex;
    justify-content: space-around;
  }

}
