@import 'src/styles/constants.scss';

.SideNav {
  position: fixed;
  display: grid;
  grid-template-rows: 100px repeat(6, $sideNavRow-height);
  align-items: center;
  height: 100vh;
  width: $sideNav-width;
  background-color: $sideNavBg-color;
  
  // allow sidebar to be scollable when viewport height too small
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  z-index: 51;

  transform: translate3d(-100%, 0, 0); // hide leftwards when on mobile
  transition: all 0.5s;
  visibility: hidden; // accessibility


  &--shown {
    visibility: visible;
    transform: translate3d(0, 0, 0); // bring it back into the window
    transition: all 0.5s;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background-color: #000;
    opacity: 0.3;
  }
}
