// $eggshell: #f5f5f5;
$eggshell: #ffffff;
// $eggshell-hover: #ececec;
$eggshell-hover: #f3f3f3;

// TopNav constants
$topNav-height: 50px;

// SideNav constants
$sideNavBg-color: #B04235;
$sideNavSpBg-color: #B04235;
$sideNav-width: 190px;
$sideNavRow-height: 50px;
