// colors
$eggshell: #eee;
// $eggshell: #ffffff;
$eggshell-hover: #ececec;
// $eggshell-hover: #f3f3f3;

// TopNav constants
$topNav-height: 50px;
$kazan: #007A87;
$kazan-hover: rgba(35, 129, 139, 0.699);

// TopNav constants
$topNav-height: 50px;
