@import 'src/styles/constants.scss';

.Home {
  display: grid;
  grid-template-rows: $topNav-height 1fr;

  &__content {
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
  }
}
