// @import "src/styles/constants.scss";

.ProviderInfo {
  display: grid;
  grid-template-rows: 50px 1fr;

  &__content {
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;
  }
}
