@import "src/styles/constants.scss";

.SolutionList {
  display: grid;
  grid-template-rows: 1fr;

  &__content {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 100px 1fr;

    background: $eggshell;
    box-sizing: border-box;
    padding-bottom: 200px;
    padding: 0 40px;
    max-width: 100vw;
    overflow: auto;
  }

  &__filter {
    display: grid;
    grid-template-rows: auto 1fr;
  }
}
