@import "src/styles/constants.scss";

.SolutionList {
  display: grid;
  grid-template-rows: $topNav-height 1fr;

  &__content {
    background: $eggshell;
    box-sizing: border-box;
    padding-bottom: 100px;
    padding: 0 40px;
    overflow: hidden;
    max-width: 100vw;
  }
}
